<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="stream.rocketnotes">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="PyzeAppKey" android:value="ERdy22a6SxORk6ndRxsEUA"/>
        <activity android:name="stream.rocketnotes.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="stream.rocketnotes.ResultActivity"
            android:parentActivityName="stream.rocketnotes.MainActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stream.rocketnotes.MainActivity"/>
        </activity>
        <activity android:name="stream.rocketnotes.CameraActivity" android:theme="@style/Theme.Transparent" android:excludeFromRecents="true"/>
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity android:name="stream.rocketnotes.ImageViewerActivity" android:theme="@style/Theme.Transparent" android:excludeFromRecents="true"/>
        <activity android:name="stream.rocketnotes.PopupActivity" android:theme="@style/Theme.TransparentFloating" android:excludeFromRecents="true"/>
        <activity android:name="stream.rocketnotes.EditActivity" android:theme="@style/AppActionBar"/>
        <!-- Widgets -->
        <receiver android:name="stream.rocketnotes.NotesWidget"
                  android:icon="@drawable/preview_notes"
                  android:label="•Rocket Notes•">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED"/>
                <action android:name=".NotesWidget.NEW_NOTE"/>
                <action android:name=".NotesWidget.OPEN_NOTE"/>
                <action android:name=".NotesWidget.NEW_REPLY"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_notes">
            </meta-data>
        </receiver>
        <receiver android:name="stream.rocketnotes.ImageWidget"
                  android:icon="@drawable/preview_gallery"
                  android:label="•Rocket Images•">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED"/>
                <action android:name=".ImageWidget.ADD_IMAGE"/>
                <action android:name=".ImageWidget.OPEN_IMAGE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_image">
            </meta-data>
        </receiver>
        <!-- Services -->
        <service android:name="stream.rocketnotes.ImageWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name="stream.rocketnotes.NotesWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name="stream.rocketnotes.SaveNoteService"/>
        <service android:name="stream.rocketnotes.DeleteNoteService"/>
        <service android:name="stream.rocketnotes.SaveFileService"/>
        <!-- Providers -->
    </application>
</manifest>