<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="stream.rocketnotes">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme"
        android:fullBackupContent="@xml/backup_descriptor">

        <meta-data
            android:name="CustomAds"
            android:value="https://straightup.fun/crosspromotion/"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true"/>
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity"/>
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity"/>
        <activity
            android:name=".ImageViewerActivity"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".PopupActivity"
            android:theme="@style/Theme.TransparentFloating"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".EditActivity"
            android:theme="@style/AppActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity
            android:name=".ShareActivity"
            android:label="Rocket Notes"
            android:theme="@style/Theme.Share"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppActionBar"/>
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/AppTheme"/>

        <!-- Widgets -->
        <receiver
            android:name=".NewNoteWidget"
            android:icon="@drawable/icon_edit_shortcut"
            android:label="•Quick Note•">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name=".NewNoteWidget.QUICK_NOTE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_newnote">
            </meta-data>
        </receiver>
        <receiver
            android:name=".NotesWidget"
            android:icon="@drawable/preview_notes"
            android:label="•Rocket Notes•">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED"/>
                <action android:name=".NotesWidget.NEW_NOTE"/>
                <action android:name=".NotesWidget.OPEN_NOTE"/>
                <action android:name=".NotesWidget.NEW_REPLY"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_notes">
            </meta-data>
        </receiver>
        <receiver
            android:name=".ImageWidget"
            android:icon="@drawable/preview_gallery"
            android:label="•Rocket Images•">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED"/>
                <action android:name=".ImageWidget.ADD_IMAGE"/>
                <action android:name=".ImageWidget.OPEN_IMAGE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_image">
            </meta-data>
        </receiver>
        <!-- Services -->
        <service
            android:name=".ImageWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service
            android:name=".NotesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".service.SaveNoteService"/>
        <service android:name=".service.DeleteNoteService"/>
        <service android:name=".service.SaveFileService"/>
        <service android:name=".service.SaveImageService"/>
        <service android:name=".service.SyncService"/>
        <!-- Providers -->
        <provider
            android:name="com.commonsware.cwac.provider.StreamProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="com.commonsware.cwac.provider.STREAM_PROVIDER_PATHS"
                android:resource="@xml/content_provider_paths"/>
            <meta-data
                android:name="com.commonsware.cwac.provider.USE_LEGACY_CURSOR_WRAPPER"
                android:value="true"/>
            <meta-data
                android:name="com.commonsware.cwac.provider.USE_URI_FOR_DATA_COLUMN"
                android:value="true"/>
        </provider>
    </application>
</manifest>